.post {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:none;
    max-width: 400px;
    margin: 20px auto;
    margin-right: 1px;
    padding: 15px 10px;
    background: #fff4;
    opacity: 0,5;
    border-radius: 10px;
  }
  
  small {
    border: 2px solid #777;
    border-radius: 7px;
    padding: 5px 12px;
    color: #777;
  }

  img {
    width: 300px;
    height: 200px;  
  }

  .error{
    color: red
  }

  .Loadingif{
    size: cover;
    height: 100vh;
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 50%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    border-color: rgb(196, 137, 191);
  }

  .go{
    border-radius: 5px;
    border-color:rgb(196, 137, 191);
    width: 80px;
    height:22px;
    font-family: Tahoma;
    background: rgb(196, 137, 191);
  }

  h3 {
    float: none;
    display: flex;
    color: rgb(65, 6, 6);
    text-decoration-line: none;
    font-weight:normal
    
    
  }

  .link{
  text-decoration-line: none;
  }